<ul>  
  <%= for item <- @items do %>    
    <li>      
      <strong><%= link item.title, to: AuctionWeb.Router.Helpers.item_path(@conn, :show,item) %></strong> —      
      <%= item.description %>    
    </li>  
  <% end %>
</ul>